[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mywaywu
[access "refs/for/refs/*"]
	read = group user/mywaywu
	push = group user/mywaywu
	label-Code-Review = -2..+2 group user/mywaywu
	label-Verified = -1..+1 group user/mywaywu
	rebase = group user/mywaywu
	removeReviewer = group user/mywaywu
	submit = group user/mywaywu
[access "refs/heads/*"]
	read = group user/mywaywu
	create = group user/mywaywu
	push = +force group user/mywaywu
	pushMerge = group user/mywaywu
[access "refs/tags/*"]
	push = group user/mywaywu
	push = +force group user/mywaywu
